.root {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  height: auto;
  min-width: 0;
  background: #e8beb9;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root {
    height: auto;
    background: #e8beb9;
  }
}
.root__toggled {
  height: auto;
}
@media (min-width: 0px) and (max-width: 760px) {
  .root__toggled {
    height: auto;
  }
}
.box__zaCup {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled__zaCupKgXzj {
    width: 100%;
    min-width: 0;
  }
}
.box___3PSf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled___3PSfKgXzj {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
  }
}
.box__y6UWf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 102px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__y6UWf {
    width: 229px;
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    justify-content: flex-start;
    height: 90px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled__y6UWfKgXzj {
    left: auto;
    top: auto;
  }
}
.svg__iQIc {
  position: relative;
  object-fit: cover;
  width: 5em;
  height: 5em;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .svg__iQIc {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
  }
}
.box__zOUz {
  font-size: 4em;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0.1em;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__zOUz {
    font-size: 2em;
  }
}
.box__ysLry {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 1s;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__ysLry {
    justify-content: space-between;
    width: auto;
    display: inline-flex;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled__ysLryKgXzj {
    justify-content: space-between;
  }
}
.menuButton__qPSbr:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .menuButton__qPSbr:global(.__wab_instance) {
    width: 60px;
    height: 100%;
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    min-height: 0;
    margin: auto;
  }
}
.menuButton__toggled__qPSbrKgXzj:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .menuButton__toggled__qPSbrKgXzj:global(.__wab_instance) {
    margin-right: 1em;
    flex-shrink: 0;
  }
}
.box__mkXu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled__mkXuKgXzj {
    align-items: center;
  }
}
.linkButton__thsSg:global(.__wab_instance) {
  position: relative;
  plasmic-display-none: false;
}
.box__y1WkS {
  font-size: 2rem;
}
.linkButton__gJay:global(.__wab_instance) {
  position: relative;
  plasmic-display-none: false;
}
.box__vlZ4W {
  font-size: 2rem;
  height: auto;
  width: auto;
  display: inline-block;
}
.linkButton__lGlw:global(.__wab_instance) {
  position: relative;
  plasmic-display-none: false;
}
.box__mvhdd {
  font-size: 2rem;
  height: auto;
}
.linkButton__spCJh:global(.__wab_instance) {
  position: relative;
  plasmic-display-none: false;
}
.box__d2EQu {
  font-size: 2rem;
  height: auto;
}
.box__yRJks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 319px;
  height: 102px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__yRJks {
    width: 229px;
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    justify-content: flex-start;
    height: 90px;
    flex-shrink: 0;
  }
}
.svg__kLsnB {
  position: relative;
  object-fit: cover;
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .svg__kLsnB {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
  }
}
.box__gqxL {
  font-size: 3rem;
  width: auto;
  height: auto;
  display: inline-block;
  margin: 0.1em;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__gqxL {
    font-size: 2em;
  }
}
.box__p80Nm {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 1s;
  flex-direction: row;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__p80Nm {
    justify-content: space-between;
    width: auto;
    display: inline-flex;
  }
}
@media (min-width: 0px) and (max-width: 760px) {
  .box__toggled__p80NmKgXzj {
    justify-content: space-between;
  }
}
.menuButton__p4Gjd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .menuButton__p4Gjd:global(.__wab_instance) {
    width: 60px;
    height: 100%;
    align-self: auto;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    min-height: 0;
    margin: auto 1em auto auto;
  }
}
.menuButton__toggled__p4GjdKgXzj:global(.__wab_instance) {
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 760px) {
  .menuButton__toggled__p4GjdKgXzj:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.box__uf31C {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  align-self: center;
  width: 100%;
  height: auto;
  min-width: 0;
}
.linkButton___3GUcJ:global(.__wab_instance) {
  position: relative;
}
.box__eSa32 {
  font-size: 2rem;
}
.linkButton__bhlE3:global(.__wab_instance) {
  position: relative;
}
.box__fsYie {
  font-size: 2rem;
  height: auto;
  width: auto;
  display: inline-block;
}
.linkButton__giXtZ:global(.__wab_instance) {
  position: relative;
}
.box__gtDmK {
  font-size: 2rem;
  height: auto;
}
.linkButton__fVuce:global(.__wab_instance) {
  position: relative;
}
.box__saZwD {
  font-size: 2rem;
  height: auto;
}
