.root:global(.__wab_instance) {
  position: relative;
}
.box__zx6Eo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box___36Mjx {
  display: flex;
  flex-direction: column;
}
.box___36Mjx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box___36Mjx > :global(.__wab_flex-container) > *,
.box___36Mjx > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.slotName {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.box__vb60A {
  font-size: 48px;
}
.box__buosm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.box__buosm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__buosm > :global(.__wab_flex-container) > *,
.box__buosm > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.bullet__qoElq:global(.__wab_instance) {
  position: relative;
}
.bullet__p9Yik:global(.__wab_instance) {
  position: relative;
}
.bullet__kgv84:global(.__wab_instance) {
  position: relative;
}
.box__dvXia {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.svg__dAEk {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
